.sidebar {
  background: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  position: sticky;
  top: 4.5rem;
  left: 50%;
  border: none;
  border-radius: 0;
  transform: translate(-50%, -50%);

  background: #fff;
  height: 2px;
  width: 4.5rem;
  @media only screen and (max-width: $bp-large) {
    top: 3rem;
    left: 90%;
    &::before {
      transform: translateY(-1.1rem);
    }
    &::after {
      transform: translateY(1rem);
    }
  }

  &::before, &::after {
    background: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block;
  }
  &::before {
    transform: translateY(-1.5rem);
  }
  &::after {
    transform: translateY(1.3rem);
  }
}